## Heart Attack Analysis & Prediction(Classification)

### Project Content
#### 1. [Introduction](#1)
#### 2. [Description of Variables in the DataSet](#2)
#### 3.[Importing basic python Libraries](#3)
#### 4.[Loading the dataset](#4)
#### 5.[Initial Analysis on Dataset](#5)
#### 6.[Exploratory Data Analysis](#6)

### 1. Introduction <a id=1></a>

#### what is Heart Attack?
#### *The medical name of heart attack is "Myocardial Infarction".
#### *Heart Attack in short, It is the occlusion of the vessel by plaque like lesions filled with cholestrol and fat.
#### *The lesion is called abnormal condition that occur in the organs where the disease is located. 
#### *As a result of blockage the blood flow is completely cutt off and a heart attack that can lead to death occurs.

### 2. Description of Variables in the Data Set <a id=2></a>
1. age - age in years

2. sex - sex (1 = male; 0 = female)

3. cp - chest pain type (1 = typical angina; 2 = atypical angina; 3 = non-anginal pain; 0 = asymptomatic)

4. trestbps - resting blood pressure (in mm Hg on admission to the hospital)

5. chol - serum cholestoral in mg/dl

6. fbs - fasting blood sugar > 120 mg/dl (1 = true; 0 = false)

7. restecg - resting electrocardiographic results (1 = normal; 2 = having ST-T wave abnormality; 0 = hypertrophy)

8. thalach - maximum heart rate achieved

9. exang - exercise induced angina (1 = yes; 0 = no)

10. oldpeak - ST depression induced by exercise relative to rest

11. slope - the slope of the peak exercise ST segment (2 = upsloping; 1 = flat; 0 = downsloping)

12. ca - number of major vessels (0-3) colored by flourosopy

13. thal - 2 = normal; 1 = fixed defect; 3 = reversable defect

14. target- the predicted attribute - diagnosis of heart disease (angiographic disease status) (Value 0 = < diameter narrowing; Value 1 = > 50% diameter narrowing)

### 3.Importing Basic Libraries <a id=3></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### 4.Loading the Dataset <a id=4></a>

In [2]:
data=pd.read_csv(r"C:\Users\Administrator\Documents\portfolioproject1\portfolioprojects\capstoneproject1\heart.csv")

In [3]:
data

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### 5. Initial Data Analysis on the Dataset <a id=5></a>

In [4]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
new_columns=["age","sex","cp","trtbps","chol","fbs","rest_ecg","thalach","exang","oldpeak","slope","ca","thal","target"]

In [6]:
data.columns=new_columns

In [7]:
data.head()

,age,sex,cp,trtbps,chol,fbs,rest_ecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [8]:
print("Shape of Dataset: ",data.shape)

Shape of Dataset:  (303, 14)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   rest_ecg  303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### Initial Analysis Summary

#### i. The dataset conatins 303 rows and 14 columns.
#### ii. The type of all the variables are in numerical format(either float or int).
#### iii. According to initial analysis there are no missing values(nan) in the dataset.

### 6. Exploratory Data Analysis <a id=6></a>

#### checking missing values

In [10]:
missingvalues=[]
for i in data.columns:
    x=data[i].isnull().sum()
    missingvalues.append(x)
pd.DataFrame(missingvalues,index=data.columns,columns=["Total Missing Values"])

          Total Missing Values
age                          0
sex                          0
cp                           0
trtbps                       0
chol                         0
fbs                          0
rest_ecg                     0
thalach                      0
exang                        0
oldpeak                      0
slope                        0
ca                           0
thal                         0
target                       0

#### checking unique numbers

In [11]:
unique_numbers=[]
for i in data.columns:
    unique=data[i].value_counts().count()
    unique_numbers.append(unique)
pd.DataFrame(unique_numbers,index=data.columns,columns=["Total Unique Values"])

          Total Unique Values
age                        41
sex                         2
cp                          4
trtbps                     49
chol                      152
fbs                         2
rest_ecg                    3
thalach                    91
exang                       2
oldpeak                    40
slope                       3
ca                          5
thal                        4
target                      2